@model IEnumerable<Order>

<div>
    @foreach (var item in @Model)
    {
        <div class="order">
            <h5>@item.NameDetail</h5>
            <p>@item.OrderNumber</p>
            <p>@item.ResourceId</p>
            <p>@item.PublicationDate</p>
            <p>@item.Price</p>
            <p>@item.Circulation</p>
            <p>@item.ExpirationDate</p>
            <h6>категории обработки: </h6>
            @foreach (var type in @item.ProcessingTypes)
            {
                <span>@type</span>
            }
            <p>@item.Description</p>
            
        </div>
    }
</div>