@model IEnumerable<Provider>

<div>
    @foreach (var item in @Model)
    {
        <div class="provider">
            <h5>@item.CompanyName</h5>
            <p>@item.TaxpayerIdentificationNumber</p>
            <p>@item.CompanyDescription</p>
            <p>@item.Adress</p>              
            
            <h6>Услуги: </h6>
            @foreach (var serv in @item.TypesOfServices)
            {
                <p class="service">@serv</p>
            } 
        </div>
    }
</div>